@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #373a3c; text-decoration: none;}
a:hover {color: none;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family: 'Noto Sans KR', sans-serif; color: #373a3c; font-weight: bold;}

/* h2 폰트 초기화 */
h2 {
	color: #000000;}

/* body, wrap 태그 초기화 */
body {
	background-color: #F7F7F7; font-weight: bold;}

#wrap {
	width: 1080px; margin: 0 auto; overflow: hidden;}

/* 폰트 스타일 초기화 */
address {
	font-style: normal;}

/* table 초기화 */
table {
	text-align: center; border-collapse: collapse; background: #fff; overflow: hidden; border-radius: 10px;}

/* 표 효과 */
th, td {padding: 3px; border: 0px; text-align: center;}
th {color: #fff; background-color: #1C192B;}
td {color: #373a3c;}

/* nav */
nav {height: 40px; overflow: hidden; background-color: #1C192B;}
nav #title {display: table; float: left; width: 200px; height: 40px; text-align: center;}
nav #title h1 {display: table-cell; vertical-align: middle;}
nav #title h1 a {color: #DCDFE0; font-size: 26px;}
nav #menu {float: left; height: 40px;}
nav #menu a {color: #aaa; height: 40px; line-height: 40px; font-size: 20px; padding: 0 20px;}
nav #menu a:hover {color: #DCDFE0;}

/* footer */
footer {width: 100%; border-top: 1px solid #ccc; text-align: center; font-size: 13px; clear: both;}
footer address {padding: 15px 0;}
footer p {padding: 0 0 10px 0;}
