@charset "UTF-8";

/* 버전 */
#version {padding: 10px 0 0 0; text-align: right; color: #4a4a4a;}

/* 일정 */
#schedule {margin: 30px 0 0 0;}
#schedule h2 {font-size: 30px; margin-bottom: 10px;}
#schedule table {width: 100%;}
#schedule table tr th {width: 20%;}
#schedule table tr .today {background: #6454ed;}
#schedule table tr td {overflow: hidden; border-right: 1px solid #aaa;}
#schedule table tr td:last-child {border: 0;}
#schedule table tr td .match {overflow: hidden;}
#schedule table tr td .match:nth-child(1) {margin-bottom: 20px;}
#schedule table tr td .match .match_no {font-size: 14px;}
#schedule table tr td .match:nth-child(1) .match_no {margin-top: 5px;}
#schedule table tr td .match .vs {float: left; width: 10%; line-height: 70px;}
#schedule table tr td .match .team {float: left; width: 45%;}
#schedule table tr td .match .team img {height: 45px; padding: 5px;}

/* 포스트시즌 */
#post_season {margin: 30px 0 430px 0;}
#post_season h2 {font-size: 30px; margin-bottom: 10px;}
#post_season .blanc {float: left; width: 5%; text-align: center; line-height: 186px;}
#post_season .blanc .blanc1 {width: 50%; float: left;}
#post_season .blanc .blanc1 div {width: 100%;}
#post_season div {float: left; width: 30%;}
#post_season div table {width: 100%; text-align: center;}
#post_season div table tr td {padding: 6px;}
#post_season div table tr td img {height: 45px;}
#post_season div table .color_td {padding: 0;}
#post_season div table .unknown .color_td .color {width: 5px; height: 63px; background-color: #fff;}
#post_season div table .lose .color_td .color {width: 5px; height: 63px; background-color: #BDBDBD;}
#post_season div table .win .color_td .color {width: 5px; height: 63px; background-color: #489CFF;}
#post_season div table .blanc {height: 70px; background: #F7F7F7;}
#post_season div table .lose td {background-color: #ddd;}
#post_season div table tr .score {font-size: 20px; width: 80px;}
