@charset "UTF-8";

/* nav */
nav {height: 40px; overflow: hidden; background-color: #1C192B;}
nav #title {display: table; float: left; width: 200px; height: 40px; text-align: center;}
nav #title h1 {display: table-cell; vertical-align: middle;}
nav #title h1 a {color: #DCDFE0; font-size: 26px;}
nav #menu {float: left; height: 40px;}
nav #menu a {color: #aaa; height: 40px; line-height: 40px; font-size: 20px; padding: 0 20px;}
nav #menu a:hover {color: #DCDFE0;}

/* 달 선택 */
#months {overflow: hidden; width: 100%; height: 37px; background: #1C192B; margin-top: 40px; border-top-left-radius : 15px; border-top-right-radius : 15px;}
#months a {font-size: 18px; display: block; float: left; width: 8.3%; height: 35px; line-height: 35px; text-align: center; color: #EAEAEA;}
#months span {font-size: 18px; display: block; float: left; width: 8.3%; height: 35px; line-height: 35px; text-align: center; color: #747474;}
#months a:hover {border-bottom: 2px solid #FFF;}

/* 일정표 */
#calendar {width: 100%; margin-bottom: 30px;}
#calendar div {display: none;}
#calendar div table {width: 100%; background: #fff; border-radius: 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
#calendar div table .today {background: #1C192B; color: #fff;}
#calendar div table td {overflow: hidden; border: 1px solid #c2c5c9; border-right: 0; height: 35px;}
#calendar div table td span {float: left; font-size: 16px;  line-height: 28px;}
#calendar div table td:nth-last-child(2) {border-bottom: 0;}
#calendar div table td:last-child {border-bottom: 0;}
#calendar div table .date {width: 10%; border-left: 0px;}
#calendar div table .match {width: 75%;}
#calendar div table .final_line {border-bottom: 0;}
#calendar div table .match .time {padding: 0 160px 0 20px; color: #777; font-weight: lighter;}
#calendar div table .match .team_logo {width: 5%;}
#calendar div table .match .team_logo img {height: 35px; vertical-align: middle;}
#calendar div table .match .team_name {width: 15%; font-weight: lighter;}
#calendar div table .match .team_name:nth-child(2n) {text-align: right; padding-right: 10px;}
#calendar div table .match .team_name:nth-child(3n) {text-align: left; padding-left: 10px;}
#calendar div table .match .win {font-weight: bold;}
#calendar div table .match .lose {color: #777777;}
#calendar div table .match .vs {width: 7%; color: #777; font-weight: lighter;}
#calendar div table .match .score {width: 7%; font-weight: lighter;}
#calendar div table .match .matchInfo {width: 15%; padding-left: 100px; font-weight: lighter; color: #777777;}

/* footer */
footer {width: 100%; border-top: 1px solid #ccc; text-align: center; font-size: 13px;}
footer address {padding: 15px 0;}
footer p {padding: 0 0 10px 0;}
